#sendTrigger {
    width: 200px;
    text-align: center;
    padding: 10px;
    background: #f44408;
    color: white;
    cursor: pointer;
}

#UI_BOX {
    position: fixed;
    z-index: 999;
    bottom: 10px;
    height: 300px;
    background: #032163;
    padding: 10px;
    width: 250px;
    color: white;
    right: 50px;
}

#itemCategoryId,
#itemName,
#itemDescription {
    display: inline-block;
    margin: 10px 5px 10px 0px;
    height: 30px;
    width: 160px;
    padding-left: 5px;
}

#itemDescription {
    height: 130px;
    resize: none;
}

#UI_BOX>span {
    font-size: 10px;
}

#UI_BOX .bottom-100px {
    position: relative;
    bottom: 100px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 999;
    /*position the autocomplete items to be the same width as the container:*/
    top: 65px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}